<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Message Form</title>
  </head>
  <body>
    <a href="/">Go back to previous page</a>
    <form action="/new" method="post">
      <input
        type="text"
        name="messageText"
        placeholder="Type your message here"
      />
      <input type="text" name="messageUser" placeholder="Type your name here" />
      <button type="submit">Submit message</button>
    </form>
  </body>
</html>
