<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express-Ejs Starter</title>
  </head>
  <body>
    <h1>Hello <span>Engineer,</span></h1>
    <p>
      Welcome to <strong>Express-Ejs Starter</strong> built with 💕 by
      <span
        ><%= ENGINEER.name %>
        - <a href="<%= ENGINEER.linkedin %>"><%= ENGINEER.username %></a></span
      >
    </p>
  </body>
</html>
